body
{
  background-color: rgb(216, 213, 213);
  font-family: arial;
}
p
{
  margin-top: 0;
  margin-bottom: 0;
}
.main-div
{
  background-color: white;
  height: 420px;
  width: 370px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 150px;
}
.top-sec
{
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr
{
  width: 290px;
}
.img
{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.name
{
  margin-top: 12px;
  font-weight: bold;
  font-size: 20px;
}
.field
{
  margin-top: 6px;
  color: rgb(102, 102, 102);
  margin-bottom: 8px;
  font-size: 13px;
}

.middle-sec
{
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}
.text
{
  font-size: 13px;
  text-align: center;
  color: grey;
  margin-bottom: 20px;
  margin-left: 29px;
  margin-right: 29px;
  line-height: 20px;
}
button
{
  color: white;
  background-color: #4848ff;
  border: none;
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  margin-right: 4px;
}
img
{
  height: 25px;
  width: 25px;
}
.symbols
{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.fb
{
  margin-left: 121px;
}
.twitter
{
  margin-left: 22px;
  
}
.insta
{
  margin-left: 22px;
  height: 22px;
  width: 22px;
  margin-top: 2px;
}