body
{
  background-color: rgb(224, 223, 223);
  font-family: arial;
}
p
{
  margin-top: 0;
  margin-bottom: 0;
}
.main-div
{
  margin-bottom: 50px;
  background-color: white;
  height: 760px;
  width: 510px;
  margin-top: 50px;
  margin-left: 400px;
  border-radius: 8px;
}
.inside-div
{
  margin-left: 35px;
}
.future
{
  padding-top: 30px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}
.img-name
{
  display: flex;
  flex-direction: row;
}
.img1
{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.name-date
{
  margin-left: 10px;
  margin-top: 5px;
}
.name
{
  font-weight: bold;
  font-size: 15px;
}
.date
{
  color: rgb(63, 63, 63);
  font-size: 12px;
  margin-top: 3px;
}
.img2
{
  margin-top: 13px;
  border-radius: 6px;
  height: 150px;
  width: 442px;
  margin-right: 35px;
  object-fit: cover;
}
.para1
{
  margin-top: 8px;
  margin-right: 34px;
  font-size: 11.5px;
  line-height: 18px;
  color: rgb(31, 30, 30);
}
.heading
{
  margin-top: 20px;
  color: rgb(49, 49, 49);
  font-weight: bold;
  margin-bottom: 15px;
}
.points
{
  color: rgb(55, 54, 54);
  font-size: 12px;
  line-height: 22px;
  margin-left: -16px;
}
.heading2
{
  color: rgb(31, 30, 30);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 17px;
}
.para2
{
  color: gray;
  font-size: 13px;
  line-height: 20px;
  margin-right: 34px;
}
.span1
{
  color: blue;
  text-decoration: dashed;
}
.span2
{
  color: blue;
  text-decoration: underline;
}
.para3
{
  color: gray;
  font-size: 13px;
  line-height: 20px;
  margin-right: 35px;
  margin-top: 17px;
}