body
{
  font-family: arial;
}
.main-parent
{
  display: flex;
  width: 1100px;
}
.bgimg
{
  height: 720px;
}

.main-div
{
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  height: 500px;
  width: 990px;
  border-radius: 10px;
}
.main-div1
{
  width: 1040px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.profile
{
  height: 30px;
  margin-top: 14px;
  margin-left: 10.5px;
}
.hr1
{
  margin-left: 11px;
  margin-right: 12px;
  height: 45px;
}
.dashboard
{
  font-weight: bold;
  font-size: 25px;
  margin-top: 14.5px;
  color: rgb(67, 67, 67);
}
.profile-pic
{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 14px;
  margin-left: 650px;
}
.profile-name
{
  color: gray;
  font-size: 13px;
  margin-left: 7px;
  margin-top: 17px;
}
.main-div2
{
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 990px;
}
.icons-buttons
{
  display: flex;
  flex-direction: row;
  height: 280px;
  background-color: white;
}
.icons
{
  display: flex;
  flex-direction: column;
}
.shopping-bag
{
  height: 18px;
  width: 18px;
  margin-top: 30px;
  margin-left: 12px;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-top: 6px;
}
.calender
{
  height: 14px;
  width: 14px;
  margin-top: 20px;
  margin-left: 20px;
}
.hr2
{
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.buttons
{
  display: flex;
  flex-direction: column;
}
button
{
  border: none;
  line-height: 30px;
  height: 40px;
  padding-top: 7px;
  width: 150px;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-right: 13px;
}
img
{
  height: 13px;
  margin-top: 8px;
  margin-right: 9px;
  margin-left: 10px;
}
.dashboard-button
{
  background-color: rgb(237, 241, 242);
  border-radius: 8px;
  margin-top: 4px;
}
.upgrade
{
  background-color: rgb(0, 128, 255);
  color: white;
  padding-top: 0;
  padding-left: 50px;
  border-radius: 4px;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.all-boxes
{
  display: flex;
  flex-direction: column;
}
.boxes
{
  display: flex;
  flex-direction: row;
  height: 95px;
  width: 900px;
}
.box
{
  display: flex;
  flex-direction: column;
  height: 65px;
  width: 180px;
  background-color: white;
  margin-left: 17px;
  font-size: 13px;
  color: rgb(180, 179, 179);
  border-radius: 6px;
  padding-left: 13px;
  padding-top: 12px;
}
.dollor-percentage
{
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  height: 20px;
}
.dollar
{
  margin-right: 10px;
  font-size: 20px;
  color: rgb(66, 63, 63);
}
.percentage
{
  color: green;
  background-color: rgb(234, 255, 234);
  margin-left: 12px;
  margin-right: 20px;
  height: 25px;
  width: 65px;
  border-radius: 4px;
  padding-top: 0;
}
.fish
{
  margin: 10px 7px 0px 0px;
}
.percentage1
{
  color: green;
  background-color: rgb(234, 255, 234);
  margin-left: 36px;
  height: 25px;
  width: 65px;
  border-radius: 4px;
  padding-top: 0;
}
.percentage2
{
  background-color: rgb(255, 238, 238);
  margin-left: 53px;
  height: 25px;
  width: 65px;
  border-radius: 4px;
  padding-top: 0;
  color: red;
}
.growth-orders
 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
 }
.revenue-growth
{
  width: 440px;
  height: 20px;
}
.revenue-img
{
  height: 240px;
  width: 406px;
  border-radius: 8px;
  margin-left: 16px;
  margin-top: 0;
  position: absolute;
}
.revenue-p
{
  position: relative;
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: 18px;
  background-color: white;
  width: 389px;
  height: 20px;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 6px;
  color: rgb(36, 36, 36);
}
/* .previous
{
  position: relative;
  background-color: red;
  height: 20px;
  width: 60px;
}
.current
{
  position: relative;
  background-color: red;
  height: 20px;
} */
 .recent-orders
 {
  background-color: white;
  height: 265px;
  width: 370px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
 }
 .recent-orders-text
 {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgb(36, 36, 36);
 }
 .orders-heading
 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
  font-size: 13px;
  margin-top: 0;
  color: rgb(186, 184, 184);
 }
 .price
 {
  margin-right: 35px;
 }
 .fame
 {
  margin-right: 40px;
 }
 .orders-name
 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  margin-bottom: 0;
  height: 30px;
 }
 .mich-p
 {
  margin-left: 6px;
  margin-right: 10px;
 }
 .david-p
 {
  margin-left: 20px;
 }
 .emily-p
 {
  margin-left: 7px;
 }
 .daniel-p
 {
  margin-right: 2px;
 }
 .main-div3
 {
  display: flex;
  flex-direction: row;
 }
 .pie-chart
 {
  height: 210px;
  width: 250px;
  background-color: white;
  border-radius: 8px;
 }
 .user-dist
 {
  margin-left: 10px;
  color: rgb(36, 36, 36);
 }
 .piechart-img
 {
  height: 150px;
 }
 .tasks
 {
  background-color: white;
  height: 195px;
  width: 265px;
  border-radius: 8px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
 }
 .tasks-text
 {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 0;
  color: rgb(36, 36, 36);
 }
 .checkbox
 {
  margin-left: 10px;
 }
 .messages
 {
  height: 170px;
  width: 255px;
  background-color: white;
  margin-top: 25px;
  margin-left: 13px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 }
 .message
 {
  margin-top: 18px;
  margin-left: 16px;
 }
 .pfp-name
 {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
 }
 .msg-img
 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
 }
 .msg-name
 {
  margin-top: 10px;
  margin-left: 5px;
  width: 70px;
  font-size: 15px;
 }
 .msg-time
 {
  margin-top: 13px;
  margin-right: 0;
  height: 28px;
  width: 100px;
  margin-left: 20px;
  background-color: rgb(175, 175, 239);
  padding-top: 0px;
  padding-left: 11px;
  border-radius: 8px;
 }
.msg-name1
 {
  margin-top: 10px;
  margin-left: 5px;
  width: 80px;
  font-size: 15px;
 }
.msg-time1
 {
  margin-top: 13px;
  margin-right: 0;
  height: 28px;
  width: 90px;
  margin-left: 20px;
  background-color: rgb(175, 175, 239);
  padding-top: 0px;
  padding-left: 13px;
  border-radius: 8px;
 }